extends layout

block content
  include nav.jade

  main(class="box main" data-toggle="blog")
    - var page = records.posts.slice(0, 3)
    ul(class="post-list")
      include templates/page-list

    footer
      a(class='more') more...
