extends layout

block content
  include nav.jade

  main(class="box main")
    section(class="box section")
      .box-head Experience

    section(class="box section")
      .box-head Education

    section(class="box section")
      .box-head Skill
