extends layout

block content
  include nav.jade

  main(class="box main" data-toggle="blog")

    each post in site.posts.all()
      article.post
        h4: a(href=post._url)= post.title
        date= post.date
