doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='xnie\'s dev note')
    meta(name='author', content='xnie')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= 'Xnie\'s dev note'
    //- css pipeline
    != css()

  body
    block content
    //-  js pipeline
    != js()
