nav(class="nav-top")

  //- img(
  //-   class="img round thumbnail"
  //-   src="/img/thumbnail.jpg"
  //-   alt="Porco Rosso"
  //-   width="50"
  //-   height="50"
  //- )
  h1(class="author") Xnie

  ul(class="nav-menu")
    li
      a(href="index" class="nav-tab active" data-toggle="blog") Blog

    li
      a(href="cv" class="nav-tab" data-toggle="cv") CV

  //- .introduction
  //-   span(class="name") Xnie
  //-   p(class="description") Web enthusiast
