@import '_settings'

normalize-css()
base()

// body
//   padding: 50px
.nav-top
  nav($size: 20, $bg-color: $olive, $pos-fixed: true)
  box-shadow: none

.perso
  margin: .1em 0

.slogan
  blockquote: green
  color: darken($gray, 20%)
  font-weight: bold

.img.round
  border-radius: 50%

.img.center
  display: block
  margin: 0 auto

.box
  background-color: $silver

.box.main
  height: 100vh
  padding: 6.5em .5em .5em .5em
