.nav-top
  nav($size: 10, $bg-color: $white)
  box-shadow: 0 0 4px $silver
  width: 100%

  .nav-menu
    position: absolute
    display: block
    float: left
    width: 35%
    background-color: lighten($silver, 50%)
    border: 1px solid rgba(217,217,217,0.7)
    border-top: none
    margin-top: -.2em
    box-shadow: 0 0 4px $silver
    left: 0
    transition: all 300ms ease-in

    ul
      width: 100%
      box-sizing: border-box

      li
        float: none
        margin: 0
        text-align: center

        a
          text-decoration: none
          color: #555
          font-weight: bold
          font-size:  .7em

    &.off
      transition: 1s
      left: -35%

    .social.list
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      inline-list: 20px
      float: initial


      a
        display: block
        width: 30px
        height: 30px
        color: $white
        line-height: 2em
        text-decoration: none
        font-size: .7em

        &.brandico-linkedin
          background-color: #0e76a8
          &:hover
            background-color: lighten(#0e76a8, 20%)

        &.brandico-github
          line-height: 2em
          background-color: $black
          &:hover
            background-color: lighten($black, 20%)


.nav-item.active
  blockquote: $olive
  padding-left: 1em

// ul.nav-menu
//   position: relative
//   bottom: 25%
//   width: 75%
//   // float: left
//   font-size: .8em
//   padding: 0
//   // margin-top: 3em
//   margin-left: 25%

//   .nav-tab
//     color: #555
//     bold()
//     margin-right: 15%
//     font-family: $verdana

//     &:link
//       text-decoration: none

//     &:hover
//       color: lighten(#555, 30%)

//   .nav-tab.active
//     color: $teal


// .introduction
//   float: left
//   margin-left: .7em
//   margin-top: .7em

// .introduction .name
//   font-size: .5em
//   bold()

// .introduction .description
//   font-size: .4em
//   margin: 0

.img.round
  rounded()

.img.thumbnail
  // vertically-align()
  // float: left
  margin: .2em
  border-radius: 10%
