.nav-top
  nav($size: 10, $bg-color: $white)
  box-shadow: 0 0 4px $silver
  width: 100%

  .nav-menu
    position: absolute
    display: block
    float: left
    width: 35%
    background-color: lighten($silver, 50%)
    border: 1px solid rgba(217,217,217,0.7)
    border-top: none
    margin-top: -.2em
    box-shadow: 0 0 4px $silver
    left: 0
    transition: all 200ms ease-in

    ul
      width: 100%
      box-sizing: border-box
      padding: 0

      li
        margin: .5em
        float: none
        text-align: center

        a
          display: block
          text-decoration: none
          color: #555
          font-weight: bold
          font-size:  .7em

    &.off
      transition: 1s
      left: -35%
      box-shadow: none
      border: none


    .social.list
      display: flex
      align-items: center
      justify-content: space-around


      a
        display: block
        width: 30px
        height: 30px
        color: $white
        line-height: 2em
        text-decoration: none
        font-size: .7em

        &.brandico-linkedin
          background-color: #0e76a8
          &:hover
            background-color: lighten(#0e76a8, 20%)

        &.brandico-github
          background-color: $black
          &:hover
            background-color: lighten($black, 20%)


.nav-item
  &.active
   blockquote: $olive
   padding-left: 0

.nav-menu .nav-item.social
  margin-top: 0
  margin-bottom: 0


.img
  &.round
    rounded()

  &.thumbnail
    margin: .2em
    border-radius: 10%
