.post-content
  min-height: 50vh


.post-list
  reset-list()
  box-sizing: border-box
  min-height: 65vh
  margin: 10% 10% 0 10%


.post-item
  h5
    margin: 0 0 .5em 0
    font-size: 1.3em

    a
      reset-link()
      color: #555 !important
      display: block

      &:hover
        color: $blue !important


  date
    font-size: 1em
    color: lighten(#555, 20%)

.post-item:first-child
  margin-top: 1.5em

.post-item:last-child
  margin-bottom: 1.5em

.post-item:not(:last-child)
  margin-bottom: 3em


footer
  flex: 1
  display: flex
  align-items: flex-end
  justify-content: center
  max-height: 25vh
  padding-bottom: 2vh

  .back, .more
    button: #f2f2f2
    color: #555
    border-bottom: 1px solid rgba(217,217,217,0.7)
    box-shadow: 0 0 4px #ddd
    font-size: 1em

    a
      display: block
      reset-link()
